.EmployeesPage {
  padding: 1rem;
  min-height: calc(100vh - var(--navbar-height));
}

.EmployeesPage .Table {
  width: 100%;
  margin-top: 1rem;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  border-collapse: separate;
  border-spacing: 0;
}

.EmployeesPage th,
.EmployeesPage td {
  padding: 12px 8px;
  text-align: left;
  border-bottom: 1px solid var(--color-lightgrey);
}

.EmployeesPage .TableHeader {
  background-color: var(--color-lightgrey);
}

.EmployeesPage .TableHeaderCell:first-child {
  border-top-left-radius: 4px;
}

.EmployeesPage .TableHeaderCell:last-child {
  border-top-right-radius: 4px;
}

.EmployeesPage .TableRow:last-child .TableCell:first-child {
  border-bottom-left-radius: 4px;
}

.EmployeesPage .TableRow:last-child .TableCell:last-child {
  border-bottom-right-radius: 4px;
}

.GlobalFilter {
  text-align: right;
  margin-bottom: 1rem;
}

.GlobalFilter input {
  padding: 0.5rem;
  border: 1px solid var(--color-lightgrey);
  border-radius: 4px;
}

.Pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.PaginationControls {
  display: flex;
  align-items: center;
}

.Pagination button {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  border-radius: 4px;
  height: 54px;
  width: 54px;
}

.Pagination button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .EmployeesPage .TableHeader {
    display: none;
  }

  .EmployeesPage .TableRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    background-color: var(--color-ultralightgrey);
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid var(--color-lightgrey);
  }

  .EmployeesPage .TableCell {
    padding: 0.5rem 0;
    text-align: left;
    display: flex;
    border-bottom: 1px solid var(--color-lightgrey);
    flex-direction: column;
  }
  .EmployeesPage .TableCell::before {
    content: attr(data-label);
    font-weight: bold;
    display: inline-block;
    width: 40%;
    min-width: 120px;
    margin-right: 0.5rem;
  }

  .EmployeesPage .TableRow .TableCell:last-child {
    border-bottom: none;
  }

  .EmployeesPage .TableCell[data-label='State']:before {
    content: 'State/City';
  }
}
